body {
	margin: 0px;
}

#topbar {
	display:block;
	width: 100%;
}

#toolbar {
	list-style-type: none;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 100%;
	border: none;
}

#logo {
	width: 44%;
}

#link {
	display: block;
	background-color: #333;
	width: 52%;
	padding: 0px 48% 0px 0%;
	text-decoration: none;
	box-align: left;
	float: left;
}

.toollinks {
	padding: 0;
	margin: 0;
	float: left;
}

#edit, #contact {
	width: 28%;
}

.toollinks a {
	display: block;
	text-align: center;
	text-decoration: none;
	background-color: #333;
	padding: 11px 0% 12px 0%;
	margin: 0;
	width: 100%;
	color: white;
}

.toollinks a:hover {
	background-color: #111
}

h1 {
	font-size: 72px;
	font-family: Montserrat, Verdana, sans-serif;
	text-align: center;
}

h2 {
	font-size: 48px;
	font-family: Montserrat, Verdana, sans-serif;
	text-align: center;
}

p, li {
	font-size: 28px;
	font-family: Ubuntu, Comfortaa, Trebuchet MS, sans-serif;
	text-align: center;
}