h1 {
    font-size: 72px;
	font-family: Montserrat, Verdana, sans-serif;
	text-align: center;
}

h2 {
	font-size: 30px;
	font-family: Montserrat, Verdana, sans-serif;
    text-align: center;
}
#About {
    font-size: 24px;
	font-family: Montserrat, Verdana, sans-serif;
    text-align: center;
}